* {
    padding:0%;
    margin:0%;
}
body {
    background: linear-gradient(90deg, rgb(61, 61, 54), rgb(247, 255, 222));
    height: 100%;
}
.Navbar {
    text-align: left;
    margin-left: 20px;
    background-color: rgb(140, 247, 247);
}
.Navbar{
    display:flexbox;
}

h1 {
    text-align: center;
}

.main_page {
}